.btn-valider {
  background-color: pink;
  margin-left: 500px;
}
.imgcmd {
  height: 90px;
  width: 100px;
}
.tbody {
  width: 10000px;
  margin-left: 70px;
}
.pos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.p2 {
  margin-left: -700px;
}
