.nav-bar {
  background-image: linear-gradient(gray);
  display: flex;

  flex-direction: row;
  justify-content: space-around;
  height: 80px;
  box-shadow: 0px 5px 2px 1px rgba(0, 0, 255, 0.2);
  color: #ff0000;
}
.cc {
  color: #f74505;
}
.inscription {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.logo {
  border-radius: 20px;
  width: 100px;
  height: 100px;
}
.nav-listes {
  display: flex;
  list-style: none;

  color: black;

  justify-content: space-between;
  text-decoration: none;
}
.nn {
  color: red;
}
a {
  color: red;
  padding-left: 10px;
  text-decoration: none;
}
a:hover {
  color: red;
}
.icone {
  font-family: fantasy;
  font-size: 300%;
  color: red;
  text-shadow: 2px 2px #ff0000;
}
.logo {
  height: 100px;
}
